/* app css stylesheet */

body{
  background-color: black;
  margin: 0;
  position: absolute;
}
a { color: transparent; }

#nav{

  width: content-box;
  height: content-box;
  appearance: menubar;
  position: fixed;
  margin-left:54%;
  margin-top: 2%;
  display: inline;
  white-space: nowrap;
}
#nav svg {

  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
}



#nav svg:hover {
//background: rgba(255,255,255,0.05);
  -webkit-transform: scale(0.93);
  -moz-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
  color: #fff;
}
#nav img{

  height:50px;
  width: 50px;
  image-resolution: from-image;
  border-radius:50%;
  border:2px solid white;

}

svg text{
  font-size: 40px;
  font-weight:bold;
  font-family: Calibri;
}

#nav img:hover{

  -webkit-transform: scale(0.93);
  -moz-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
  color: #fff;


}
#txt1{
  margin-top: 250px;
  margin-left: 300px;
  height: content-box;
  width: content-box;
  font-family:"Adobe Gothic Std B";
  font-weight:bolder;
  font-size: 50px;
}
#txt2{

  margin-left: 300px;
  font-size:small;
  font-family:"Adobe Gothic Std B";
}


#foodImages{
  margin-left: 200px;
  top: 100px;
  position: relative;
  height: 15%;
  width:10%;
  display: inline;
  image-resolution: from-image;
}
#foodIcons{
  margin-left: 11%;
text-align: center;
  margin-top:15%;
  width: 2%;
  height: 2%;
  white-space: nowrap;
}
#foodIcons td{
  border:1px solid  transparent;
  border-radius:50%;
}

#foodIcons td:hover{

  border-radius:50%;
  border:1px solid white;
  background: rgba(255,255,255,0.3);

  -webkit-transform: scale(0.83);
  -moz-transform: scale(0.83);
  -ms-transform: scale(0.83);
  transform: scale(0.83);
  color: #fff;
}

figcaption{
  font-size: 11px;
  white-space: nowrap;

}
#foodIcons img{
  position: relative;
  height:70%;
  width: 70%;
  white-space: nowrap;

}


#txt3{
  margin-top:-10%;
  margin-left: 50%;
  color: green;
  display: block;
  height: content-box;
  width: content-box;
  font-family: sans-serif;
  font-weight: 900;
  font-size: 30px;
}

#foodImages img{
  position: relative;
  height: inherit;
  width: inherit;
  margin-left: 10px;
  image-resolution: from-image;

}
#travel{
  display: inline-block;
  color:white;
  width:100%;
  background: url("images/travelpic.jpg") no-repeat;
  background-size: 100%;
  background-color: black;
  height: 100vh;
  text-align: left;}




#food{
  display: inline-block;
  height: 100vh;
  width:100%;
  color:white;
  background: linear-gradient(
          rgba(20,20,20, .94),
          rgba(20,20,20, .94)),
  url( "images/fishfood.jpg") no-repeat 100% 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: cover;


}

#connect{
  display: inline-block;
  background: url("images/connect.jpg") no-repeat;
  background-size: 100%;
  color:white;
  height: 100vh;
  width: 100%;
  background-color: black;
  margin: 0 auto;
}


#txt4{
  color:white;
  width: 50%;
  margin: 0 auto;
  font-weight: 900;
  background-color: black;
  text-align: center;
  margin-top:10%;
  font-size:xx-large;

}
#txt5{
  color:white;
  width: 50%;
  margin: 0.1% auto;
  background-color: black;
  text-align: center;

}
#chatIcons{
  display: inline;
  display: table;
  margin: 5% 35%;
  position: relative;
  white-space: nowrap;

}
#chatIcons img:hover{
  border-radius: 50%;
 // background: rgba(255,255,255,0.3);

  -webkit-transform: scale(0.93);
  -moz-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
  color: #fff;

}
#chatIcons img{
  margin-left:10%;
  height: 60px;
  width: 60px;
}
footer{
  color:white;
  text-align: center;
  display: inline-block;
  height: 50vh;
  width: 100%;

  background-color: brown;

}
footer p {
  font-family:Calibri;
}





